.feature-ic {
    float: left;
    width: 62px;
    height: 62px;
    margin-right: 18px;
}

.buoy-ic {
    background-size: 350px 62px;
    background-repeat: no-repeat;
    background-image: url(../svg/buoy-icon-optimized.svg),none;
    display: block;
}

.buoy-ic-logo-dark, .buoy-ic-logo-light {
    width: 32px;
    height: 32px;
}

.buoy-ic-logo-dark {
    background-position: 0px -30px;
}

.buoy-ic-logo-light {
    background-position: -34px -30px;
}

.buoy-ic-logo-txt-dark, .buoy-ic-logo-txt-light {
    width: 44px;
    height: 18px;
}

.buoy-ic-logo-txt-dark {
    background-position: -68px -44px;
}

.buoy-ic-logo-txt-light {
    background-position: -114px -44px;
}

.buoy-ic-fast, .buoy-ic-md, .buoy-ic-team {
    width: 62px;
    height: 100px;
}

.buoy-ic-team {
    background-position: -160px 0px;
}

.buoy-ic-fast {
    background-position: -224px 0px;
}

.buoy-ic-md {
    background-position: -288px 0px;
}