#buoy-navbar-container {
    border-bottom: 2px solid #F7F4EF;
}

#header {
    background: #070716;    
    width: 100%;
    padding-bottom: 140px;
}

.buoy-navbar {
    padding-top: 40px;
    padding-bottom: 40px;
}

.logo {
    padding-top: 5px;
    padding-bottom: 5px;
    width: 44px;
    margin-right: 15px;

    a {
        img {
            max-width: 88.356px;
        }
    }
}


.menu {
    a {
        opacity: 0.8;
        border-radius: 3px;
        display: inline-block;
        padding: 5px 10px;
        font-size: 12px;
        line-height: 20px;
        text-transform: uppercase;
        color: #FFF;
        letter-spacing: 1px;
        font-weight: 300;

        &:hover, &:focus {
            text-decoration: none;
            color: #FFF;
            opacity: 1;
        }
    }

    .buoy-btn-sign-in {
        color: #1ebad6;
        border: 1px solid #1ebad6;
        padding: 5px 10px;

        &:hover, &:focus {
            color: #1ebad6;
        }
    }
}

.header-content {
    text-align: center;
    margin-top: 60px;
    margin-bottom: 30px;

    .header-content-headline {
        h3 {
            font-weight: 700;
            color: #FFF;
            margin-bottom: 10px;
            font-size: 36px;
            line-height: 1.5em;
        }
    }

    .header-content-txt {
        p {
            color: rgba(255,255,255,0.7);
            font-size: 20px;
            line-height: 36px;
            // font-weight: 300;
        }
    }
}

.header-list-feature-container {
    margin-bottom: 80px;
}
.header-list-feature {
    height: 100px;
}

.feature-desc {
    h3 {
        font-size: 16px;
        color: #403E3B;
        margin: 0 0 10px 0;
    }

    p {
        font-size: 14px;
        line-height: 19px;
        color: #7c7c7c;
    }
}

// modal dialog login
#buoy-modal-sign-in {
    .modal-dialog {
        max-width: 380px;
        margin-top: 100px;

        .modal-content {
            border: 0px;
            color: #fff;
            padding: 0;
            -webkit-box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.07);
            -moz-box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.07);
            box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.07);
            
            .modal-header {
                background-color: #070716;
                border-bottom: none;
                padding: 20px 35px;

                h1 {
                    text-align: center;
                    display: block;
                    font-size: 18px;
                    font-weight: 400;
                    margin-top: 10px;
                    text-transform: capitalize;
                }

                .close {
                    position: absolute;
                    top: 29px;
                    right: 50px;
                    border: 0px;
                    background: none;
                    color: white;
                    font-size: 24px;
                    width: auto;
                    height: auto;
                    opacity: 0.2;
                }
            }

            .modal-body {
                background-color: #070716;
                padding: 0px;

                .sign-in-message {
                    padding: 10px 0px;
                    color: rgba(255,255,255,0.7);
                    line-height: 30px;
                }

                .sign-in-form {
                    padding: 16px;
                    background: #f8f8f8;
                    color: rgba(0,0,0,0.5);
                    padding: 20px 35px;
                }
            }
        }
    }
}

#buoy-modal-form-sign-in {
    .form-control {
        padding: 24px;
        font-size: 16px;
        margin-bottom: 10px;
        border-radius: 3px;
    }

    .row {
        margin-top: 20px;
        margin-bottom: 10px;

        .col-lg-6 {
            p {
                a {
                    font-size: 12px;
                    color: #1ebad6;
                }
            }
        }

        .buoy-modal-btn-sign-in {
            text-align: right;

            .btn {
                color: rgba(255,255,255,0.8);
                background-color: #1ebad6;
                border: 1px solid #1ebad6;
                padding: 5px 10px;
                text-transform: capitalize;
                border-radius: 3px;
            }
        }
    }
}